<ul>
  <li>Sort By:</li>
  <%=
      if @o == 'by_done_on'
        '<li class="date_selected">' +
                link_to('Completion Date', '#', :onclick => 'return false') +
                '</li>'

      else
        '<li>' +
                link_to_remote('Completion Date',
                               :url => history_todo_items_path(:q => @q, :o => :by_done_on),
                               :method => :get) +
                '</li>'
      end
  %>
  <li>
    <%= link_to_remote 'Priority',
                       :url => history_todo_items_path(:q => @q, :o => :by_priority_done),
                       :method => :get %>
  </li>

  <li class="show_all_right">
    <%= link_to_remote 'Show all',
                       :url => history_todo_items_path(:o => @o),
                       :method => :get %>
  </li>
  <br style="clear:both;"/>
</ul>
<div class="clear_float"></div>