<div class="todo_list_suggetion">
  <h2>Random Tips</h2>
  <div class="suggetion_title">
    Garage Door Maintenance
  </div>
  <div class="suggetion_image" >
    <%= image_tag("newt/garage_door.jpg", :alt=>"") %>
  </div>
  <div class="suggetion_content">
    Mauris eget lobortis mauris. Quisque in tincidunt sapien. Donec ac tortor eget nunc iaculis fermentum et quis lacus. Nulla ante est, lobortis ut blandit sit amet, porttitor sed magna. Proin justo velit, pretium vitae aliquet ut, sollicitudin ac neque. Aenean dapibus eros quis ante bibendum in pulvinar urna vehicula. Donec dolor nunc, sagittis a pulvinar at, suscipit nec diam.
  </div>
  <div class="clear_float"></div>
</div>