<p class="notice">
    <strong>Never Shared, Never Spammed</strong>
    - Your profile information is used by the system for
    matching and searching purposes only. Your contact information will only be
  released to the person who accepts your offer (if you are the the worker)
  or to the worker whose offer you accept (if you are the job poster), in order
  to arrange for service completion.
</p>

