<div class="ez-wr" align="center">
  <h2>Job Opportunities</h2>
  <table width="95%">
    <tr>
      <td class="noborder">
        <br/>
        <div class="ez-fl ez-33">
          <h4><strong>Web Designer, Writer</strong></h4>
          <ul>
            <li>Part-time</li>
            <li>Modern web design</li>
            <li>Artistic sense of layouts</li>
            <li>GUI optimization</li>
            <li>Writing, marketing, branding, etc.</li>
          </ul>
        </div>

        <div class="ez-fl ez-33">
          <h4><strong>Ruby on Rails Developer</strong></h4>
          <ul>
            <li>Part-time</li>
            <li>Solid knowledge of Ruby and Rails</li>
            <li>Familiarity with Rails 3</li>
            <li>HTML & CSS</li>
            <li>Skilled in test driven development</li>
          </ul>
        </div>

        <div class="ez-last ez-oh">
          <h4><strong>Marketing & Sales</strong></h4>
          <ul>
            <li>Part-time</li>
            <li>Energetic, open-minded, visionary</li>
            <li>Familiarity with Web 2.0 & Enterprise 2.0</li>
            <li>Previous startup experience a plus</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
  <br/><br/>
</div>