p {
	color:#fefefe;
	padding-bottom:15px;
}

a {
	color:#e6e1a8;
	text-decoration:none;
}

a:hover {text-decoration:underline;}

h1 {
	color:#e6e1a8;
	display:block;
	font-size:20px;
	padding-bottom:20px;
}

em {font-style:italic;}
