<% @title = 'Edit My Offer' %>

<% content_for(:breadcrumb) do %>
    <li><%= link_to 'Jobs', requests_path %></li>
    <li><%= link_to h(@offer.request.name), request_path(@offer.request) %></li>
    <li><%= link_to 'My Offer', offer_path(@offer) %></li>
    <li class="active">Edit</li>
<% end %>

<%= render :partial => 'form' %>