            <!--modal divs-->
            <div id="login_modal">
                <form action="" method="post">
                    <div id ="login_div">
                        <h1>Login</h1>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Username
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="username" title="username" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Password
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="password" title="password" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_single">
                                <input type="submit" class="button" value="Login">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_single">
                                <span id="forget_password"><a href="#">Forgot Password</a></span>
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_single">
                                <a href="#"><img src="/images/newt/facebook_signup.png" alt=""></a>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="vertical_divide"></div>
                <form action="" method="post">
                    <div id="register_div">
                        <h1>Register</h1>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Username
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="username" title="username" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Password
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="password" title="password" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Password
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="password" title="password" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_title">
                                Password
                            </div>
                            <div class="modal_row_input">
                                <input type="text" name="password" title="password" class="input_box">
                            </div>
                        </div>
                        <div class="modal_row">
                            <div class="modal_row_single">
                                <input type="submit" class="button" value="Register">
                            </div>
                        </div>
                    </div>
                  <div class="clear_float"></div>
                </form>
            </div>
            
            <!--modal divs end-->
