            <!--modal divs-->
            <div id="subscribe_modal">
                <form action="" method="post">
                    <div class="modal_row">
                        <div class="modal_row_title">
                            Email
                        </div>
                        <div class="modal_row_input">
                            <input type="text" name="username" title="username" class="input_box">
                        </div>
                    </div>
                    <div class="modal_row">
                        <div class="modal_row_title">
                            Confirm Email
                        </div>
                        <div class="modal_row_input">
                            <input type="text" name="password" title="password" class="input_box">
                        </div>
                    </div>
                    <div class="modal_row">
                        <div class="modal_row_single">
                            <input type="submit" class="button" value="Subscribe Now">
                        </div>
                    </div>
                </form>
            </div>
            
            <!--modal divs end-->
